/* =================
product Section
=================== */
.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.product {
    box-shadow: 2px 4px 5px #dddddd;
    position: relative;
}

.product::before {
    content: 'Populer';
    position: absolute;
    height: 30px;
    width: 100px;
    background: #4b71c9;
    top: 45%;
    left: -5%;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.product::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #4b71c9;
    bottom: 43%;
    left: -5%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    z-index: -1;
}

.product .thumbnail {
    width: 100%;
}

.product .thumbnail img {
    height: 200px;
    border-radius: 10px;
}

.product-content {
    padding: .5rem 1rem;
}

.product-price,
.product-object,
.product-details {
    padding-top: 5px;
    padding-bottom: 5px;
}

.product-price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.price {
    font-size: 20px;
    color: #7745FF;
    font-weight: 700;
}

.product-object {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.fa.fa-star {
    color: #FFC014;
}

.star .fal {
    color: #A2A2A2;
}

.time span,
.time i {
    color: #FF4A60;
}

@media only screen and (max-width: 390px) {
    .product-object,
    .product-price {
        flex-direction: column;
    }
    .product::before {
        top: 45%;
        left: -3%;
    }
    .product::after {
        bottom: 46%;
        left: -3%;
    }
    
  }
 
  @media only screen and (min-width: 391px) and (max-width: 767px) {
    

  }