 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Varela+Round&display=swap');

 * {
   margin: 0;
   padding: 0;
   outline: 0;
 }

 body {
   font-family: 'Poppins', sans-serif;
   background: #f5f4f4;
 }

 /* ===================
 Layout CSS
===================== */
 .container {
   max-width: 80%;
   margin-right: auto;
   margin-left: auto;
 }

 .container-fluid {
   max-width: 100%;
   margin-right: auto;
   margin-left: auto;
 }

 .row {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
 }

 .col {
   display: grid;
   grid-template-columns: auto;
   grid-gap: 25px;
 }

 .col-2 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
 }

 .col-3 {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
 }

 .col-4 {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
 }

 .col-5 {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
 }

 .col-6 {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
    grid-gap: 25px;
   justify-content: center;
 }

 /*common media query */

 @media only screen and (max-width: 390px) {
   .container {
     max-width: 95%;
     padding-left: 20px;
     padding-right: 20px;
   }

   .col-2,
   .col-3,
   .col-4,
   .col-5,
   .col-6 {
     grid-template-columns: repeat(1, 1fr);
   }
 }

 @media only screen and (min-width: 391px) and (max-width: 767px) {
   .container {
     max-width: 90%;
     padding-left: 5px;
     padding-right: 5px;
   }

   .col-2,
   .col-3,
   .col-4,
   .col-5,
   .col-6 {
     grid-template-columns: repeat(2, 1fr);
   }
 }

/*===========End Layout================
======================================= */
img {
   width: 100%;
   height: auto;
 }

 a {
   text-decoration: none;
 }

 li {
   list-style: none;
 }
 .flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
 }
.between{
  justify-content: space-between;
}
.font-md{
  font-size: 14px;
}
.bg-white {
   background: #ffffff;
 }
 
 .box-s{
  box-shadow: 2px 4px 5px #dddddd;
 }
 .border-round {
  border: 2px solid #bfb8b8;
  padding: 3px;
  border-radius: 50px;
}
.border-r{
  border-radius: 15px;
}
 hr {
   border: 1px solid #D1D1D1;
 }

.clear-both {
   clear: both;
 }