 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Varela+Round&display=swap');

 * {
   margin: 0;
   padding: 0;
   outline: 0;
 }

 body {
   font-family: 'Poppins', sans-serif;
   /* background: #F3F1FF; */
 }

 /* ===================
 Layout CSS
===================== */
 .container {
   max-width: 90%;
   margin-right: auto;
   margin-left: auto;
 }

 .container-fluid {
   max-width: 100%;
   margin-right: auto;
   margin-left: auto;
 }

 .row {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
 }

 .col {
   display: grid;
   grid-template-columns: auto;
   grid-gap: 10px;
 }

 .col-2 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 10px;
 }

 .col-3 {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
 }

 .col-4 {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 10px;
 }

 .col-5 {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-gap: 10px;
 }

 .col-6 {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 10px;
   justify-content: center;
 }

 /*common media query */

 @media only screen and (max-width: 375px) {
   .container {
     max-width: 100%;
   }

   .col-2,
   .col-3,
   .col-4,
   .col-5,
   .col-6 {
     grid-template-columns: repeat(1, 1fr);
   }
 }

 @media only screen and (min-width: 376px) and (max-width: 767px) {
   .container {
     max-width: 90%;
   }

   .col-2,
   .col-3,
   .col-4,
   .col-5,
   .col-6 {
     grid-template-columns: repeat(2, 1fr);
   }
 }

/*===========End Layout================
======================================= */
img {
   width: 100%;
   height: auto;
 }

 a {
   text-decoration: none;
 }

 li {
   list-style: none;
 }

.bg-white {
   background: #ffffff;
   padding: 25px 20px;
 }

 hr {
   border: 1px solid #D1D1D1;
 }

.clear-both {
   clear: both;
 }