 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Varela+Round&display=swap');

 * {
   margin: 0;
   padding: 0;
   outline: 0;
 }

 body {
   font-family: 'Poppins', sans-serif;
   background: #f5f4f4;
 }

 /* ===================
 Layout CSS
===================== */
 .container {
   max-width: 80%;
   margin-right: auto;
   margin-left: auto;
 }

 .container-fluid {
   max-width: 100%;
   margin-right: auto;
   margin-left: auto;
 }

 .row {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
 }

 .col {
   display: grid;
   grid-template-columns: auto;
   grid-gap: 25px;
 }

 .col-2 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 25px;
 }

 .col-3 {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 25px;
 }

 .col-4 {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 25px;
 }

 .col-5 {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-gap: 25px;
 }

 .col-6 {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 25px;
   justify-content: center;
 }

 /*common media query */

 @media only screen and (max-width: 390px) {
   .container {
     max-width: 95%;
     padding-left: 20px;
     padding-right: 20px;
   }

   .col-2,
   .col-3,
   .col-4,
   .col-5,
   .col-6 {
     grid-template-columns: repeat(1, 1fr);
   }
 }

 @media only screen and (min-width: 391px) and (max-width: 767px) {
   .container {
     max-width: 90%;
     padding-left: 5px;
     padding-right: 5px;
   }

   .col-2,
   .col-3,
   .col-4,
   .col-5,
   .col-6 {
     grid-template-columns: repeat(2, 1fr);
   }
 }

 /*===========End Layout================
======================================= */
 img {
   width: 100%;
   height: auto;
 }

 a {
   text-decoration: none;
 }

 li {
   list-style: none;
 }

 .font-md {
   font-size: 14px;
 }

 .font-lg {
   font-size: 18px;
 }

 .font-xl {
   font-size: 22px;
 }

 .font-bold {
   font-weight: 800;
 }

 .color-primary {
   color: #7745FF!important;
 }

 .color-soft {
   color: #9b9b9b!important;
 }

 .color-black {
   color: #000!important;
 }

 .color-white {
   color: #fff!important;
 }

 .bg-primary {
   background-color: #7745FF!important;
 }

 .bg-white {
   background: #fff!important;
 }

 .btn {
   padding: 3px;
   border-radius: 5px;
 }

 .btn-primary {
   background-color: #7745FF!important;
   color: #fff!important;
 }

 .mx-10 {
   margin-left: 10px;
   margin-right: 10px;
 }

 .mx-12 {
   margin-left: 20px;
   margin-right: 20px;
 }

 .mr-10 {
   margin-right: 10px;
 }

 .mr-20 {
   margin-right: 20px;
 }

 .ml-10 {
   margin-left: 10px;
 }

 .ml-20 {
   margin-left: 20px;
 }

 .px-10 {
   padding-left: 10px;
   padding-right: 10px;
 }

 .px-20 {
   padding-left: 20px;
   padding-right: 20px;
 }

 .pr-10 {
   padding-right: 10px;
 }

 .pr-20 {
   padding-right: 20px;
 }

 .pl-10 {
   padding-left: 10px;
 }

 .pl-20 {
   padding-left: 20px;
 }

 .my-10 {
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .my-20 {
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .py-10 {
   padding-top: 10px;
   padding-bottom: 10px;
 }

 .py-20 {
   padding-top: 20px;
   padding-bottom: 20px;
 }

 .border-1 {
   border: 1px solid #bfb8b8;
 }

 .border-round {
   border: 2px solid #bfb8b8;
   padding: 3px;
   border-radius: 50px;
 }

 .border-r {
   border-radius: 15px;
 }

 .flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 5px;
 }

 .between {
   justify-content: space-between;
 }

 .box-s {
   box-shadow: 2px 4px 5px #dddddd;
 }

 hr {
   border: 1px solid #D1D1D1;
 }

 .clear-both {
   clear: both;
 }

 @media (max-width: 767px) {
   .hide-m {
     display: none;
   }

   .reverse-r {
     flex-direction: row-reverse;
   }

   .reverse-c {
     flex-direction: column-reverse;
   }
 }

 @media (min-width: 768px) {
   .hide-lg {
     display: none;
   }
 }